@charset "utf-8";
.wow {
	visibility: hidden;
}
.vivify {
	-webkit-animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	animation-duration: .8s;
	animation-fill-mode: both;
}
.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.shining {
	-webkit-animation: shining 6s linear infinite;
			animation: shining 6s linear infinite;
}
@keyframes shining {
	0%,20%,35%,100% {
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		filter: brightness(100%);
		transform: scale(1);
	}
	10%,25% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		filter: brightness(130%);
		transform: scale(1.02);
	}
}
@-webkit-keyframes shining {
	0%,20%,35%,100% {
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-filter: brightness(100%);
		-webkit-transform: scale(1);
	}
	10%,25% {
		-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-filter: brightness(130%);
		-webkit-transform: scale(1.02);
	}
}
.noshining {
	-webkit-animation: noshining 6s linear infinite;
	animation: noshining 6s linear infinite;
}
@keyframes noshining {
	0%,20%,35%,100% {
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale(1);
	}
	10%,25% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale(1.05);
	}
}
@-webkit-keyframes noshining {
	0%,20%,35%,100% {
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-transform: scale(1);
	}
	10%,25% {
		-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-transform: scale(1.05);
	}
}
.popInBottom {
	-webkit-animation-name: popInBottom;
	animation-name: popInBottom;
}
@keyframes popInBottom {
	0% {
		-webkit-transform: translate3d(0, 200px, 0) scale3d(0.1, 0.1, 0.1);
		transform: translate3d(0, 200px, 0) scale3d(0.1, 0.1, 0.1);
		opacity: 0;
	}
	40% {
		opacity: 1;
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
		transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
	}
	60% {
		-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
	80% {
		-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
		transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
	}
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}
.popInTop {
	-webkit-animation-name: popInTop;
	animation-name: popInTop;
}

@keyframes popInTop {
	0% {
		-webkit-transform: translate3d(0, -200px, 0) scale3d(0.1, 0.1, 0.1);
		transform: translate3d(0, -200px, 0) scale3d(0.1, 0.1, 0.1);
		opacity: 0;
	}
	40% {
		opacity: 1;
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
		transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
	}
	60% {
		-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
	80% {
		-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
		transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
	}
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}
.fly {
	animation: fly 2s infinite alternate;
	-webkit-animation: fly 2s infinite alternate;
}
@-webkit-keyframes fly {
	0% 	 { transform: translate(0, 0); }
	100% { transform: translate(5px, -15px); }
}
@keyframes fly {
	0% 	 { transform: translate(0, 0); }
	100% { transform: translate(5px, -15px); }
}

/* Grow */
.hvr-grow {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}
