.bottomFixedbar-section { position: fixed; z-index: 99; bottom: 0; width: 100%; display: block; padding: 5px 0; background: rgba(44, 44, 44, 0.78); }

.bottomFixedbar-section.open { display: block !important; opacity: 1 !important; }

.bottomFixedbar-section.close { display: none !important; opacity: 1 !important; }

.bottomFixedbar-section .bottomFixedbar-content { max-width: 932px; margin: 0 auto; }

.bottomFixedbar-section .bottomFixedbar-content .close_under { width: 100%; position: relative; }

.bottomFixedbar-section .bottomFixedbar-content .close_under .btn { position: absolute; top: -25px; left: 2px; width: 20px; height: 20px; color: #fff; font-size: 13px; font-weight: 100; font-family: Arial,sans-serif; opacity: 1; border: 0 solid #fff; background: rgba(44, 44, 44, 0.78); padding: 0; line-height: 21px; border-radius: 0; z-index: 999; cursor: pointer; }

.boxmangif { position: absolute; opacity: 1; right: 30px; bottom: 50px; width: 150px; -webkit-animation: boxman3 5s; animation: boxman3 5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@media (max-width: 1200px) { .boxmangif { right: 40px; bottom: 90px; width: 100px; } }

@-webkit-keyframes boxman { from { right: 30px; }
  50% { right: 60px; }
  100% { right: 30px; } }

@keyframes boxman { from { right: 30px; }
  50% { right: 60px; }
  100% { right: 30px; } }

@-webkit-keyframes boxman2 { from { right: 30px;
    bottom: 90px;
    opacity: 1; }
  20% { right: 60px;
    bottom: 90px;
    opacity: 1; }
  25% { right: 60px;
    bottom: 80px;
    opacity: 1; }
  30% { right: 80px;
    bottom: 120px;
    opacity: 1; }
  50% { right: 110px;
    bottom: 120px;
    opacity: 1; }
  55% { right: 110px;
    bottom: 110px;
    opacity: 1; }
  60% { right: 170px;
    bottom: 145px;
    opacity: 1; }
  70% { right: 200px;
    bottom: 145px;
    opacity: 1; }
  75% { right: 230px;
    bottom: 145px;
    opacity: 1; }
  78% { right: 200px;
    bottom: 145px;
    opacity: 1; }
  80% { right: 2800px;
    bottom: 145px;
    opacity: 0; }
  95% { right: -200px;
    bottom: 90px;
    opacity: 0; }
  100% { right: 30px;
    bottom: 90px;
    opacity: 1; } }

@keyframes boxman2 { from { right: 30px;
    bottom: 90px;
    opacity: 1; }
  20% { right: 60px;
    bottom: 90px;
    opacity: 1; }
  25% { right: 60px;
    bottom: 80px;
    opacity: 1; }
  30% { right: 80px;
    bottom: 120px;
    opacity: 1; }
  50% { right: 110px;
    bottom: 120px;
    opacity: 1; }
  55% { right: 110px;
    bottom: 110px;
    opacity: 1; }
  60% { right: 170px;
    bottom: 145px;
    opacity: 1; }
  70% { right: 200px;
    bottom: 145px;
    opacity: 1; }
  75% { right: 230px;
    bottom: 145px;
    opacity: 1; }
  78% { right: 200px;
    bottom: 145px;
    opacity: 1; }
  80% { right: 2800px;
    bottom: 145px;
    opacity: 0; }
  95% { right: -200px;
    bottom: 90px;
    opacity: 0; }
  100% { right: 30px;
    bottom: 90px;
    opacity: 1; } }

@-webkit-keyframes boxman3 { from { right: 30px;
    bottom: 90px; }
  20% { right: 60px;
    bottom: 90px; }
  25% { right: 60px;
    bottom: 80px; }
  30% { right: 80px;
    bottom: 120px; }
  50% { right: 110px;
    bottom: 120px; }
  55% { right: 110px;
    bottom: 110px; }
  60% { right: 170px;
    bottom: 145px; }
  70% { right: 200px;
    bottom: 145px; }
  75% { right: 200px;
    bottom: 130px; }
  80% { right: 200px;
    bottom: 2000px; }
  90% { right: 30px;
    bottom: 2000px; }
  100% { right: 30px;
    bottom: 90px; } }

@keyframes boxman3 { from { right: 30px;
    bottom: 90px; }
  20% { right: 60px;
    bottom: 90px; }
  25% { right: 60px;
    bottom: 80px; }
  30% { right: 80px;
    bottom: 120px; }
  50% { right: 110px;
    bottom: 120px; }
  55% { right: 110px;
    bottom: 110px; }
  60% { right: 170px;
    bottom: 145px; }
  70% { right: 200px;
    bottom: 145px; }
  75% { right: 200px;
    bottom: 130px; }
  80% { right: 200px;
    bottom: 2000px; }
  90% { right: 30px;
    bottom: 2000px; }
  100% { right: 30px;
    bottom: 90px; } }
